<!-- app/application/template.hbs -->

<header>
  <div class="page-container">

    <div class="logo"></div>

    <nav>
      <a>Home</a>

      <a>
        <img class="avatar" src="/images/avatar.jpg" />
        t4t5 <!-- You can change this to your own username -->
      </a>

      <button class="chirp">Chirp</button>
    </nav>

  </div>
</header>

{{outlet}}
